.js-element-blurin {
  /* backface-visibility: hidden;
  -webkit-font-smoothing: antialiased !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0);
  will-change: contents; */
  /* @apply transition-all ease-in-out; */
}
