@font-face {
  font-family: "m";
  src: url("../fonts/PFR7CPtrVbFgulfXm6qE.woff2") format("woff2"),
    url("../fonts/PFR7CPtrVbFgulfXm6qE.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "b";
  src: url("../fonts/V7aXs3xHmV53f8vQc7wo.woff2") format("woff2"),
    url("../fonts/V7aXs3xHmV53f8vQc7wo.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
