html {
}

body {
  /* -webkit-font-smoothing: antialiased; */
  text-rendering: geometricPrecision;
}

body::-webkit-scrollbar {
  @apply w-0 transition-all duration-300;
}

body::-webkit-scrollbar-thumb {
  @apply bg-black;
}

svg {
  @apply w-full h-auto;
}

.prevent-children {
  @apply [&_*]:pointer-events-none;
}

/* Hide dev messages */
#hostinger-preview-banner,
.otgs-development-site-front-end {
  display: hidden !important;
  opacity: 0 !important;
  visibility: hidden !important;
  position: fixed;
  top: -9999px !important;
  left: -9999px !important;
  z-index: -9999;
}
